<nav><app-navbaradmin></app-navbaradmin></nav>

<div class="page-title">Gestión de Pedidos</div>

<div class="container">

  <h2>Lista de Pedidos</h2>

  <table class="table table-dark table-striped text-center mt-3">
    <thead>
      <tr>
        <th>Direccion de envio</th>
        <th>Metodo de pago</th>
        <th>Total</th>
        <th>Estado</th>
        <th>Cambiar de estado</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of pedidos">
        <td>{{ p.direccionEnvio}}</td>
        <td>{{ p.metodoPago }}</td>
        <td>{{ p.total }}</td>
        <td [ngClass]="{
      'estado-pendiente': p.estado === 'PENDIENTE',
      'estado-entregado': p.estado === 'ENTREGADO'
        }">
          {{ p.estado }}
        </td>


        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="cambiarEstado(p)">
            Cambiar Estado
          </button>

        </td>
      </tr>
    </tbody>
  </table>

</div>