.page-title {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  color: #9a4dff;
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 15px;
  max-width: 900px;
  box-shadow: 0 0 15px rgba(154, 77, 255, 0.2);
}

h2 {
  color: #9a4dff;
}

button {
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-warning {
  background-color: #ff9800;
  color: #fff;
  border: none;
}

.btn-warning:hover {
  background-color: #e68900;
}

.btn-info {
  background-color: #2196f3;
  color: #fff;
  border: none;
}

.btn-info:hover {
  background-color: #1976d2;
}


.estado-pendiente {
  color: #1976d2;       
  font-weight: bold;
}

.estado-entregado {
  color: green;        
  font-weight: bold;
}