        footer {
          background: linear-gradient(90deg, #1e3a8a, black);
          box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
        }
        a {
          color: #e5e7eb;
          transition: 0.3s;
          text-decoration: none;
        }
        a:hover {
          color: #fbbf24;
        }

        .social-icons a:hover {
          transform: scale(1.2);
        }