<app-navbaradmin></app-navbaradmin>

<!-- Header -->
<header class="mt-5 pt-5 text-center">
  <h1>Panel de Administración</h1>
  <p class="text-secondary">Controla todo desde un solo lugar</p>
</header>

<!-- Contenido -->
<div class="container py-5">
  <div class="row justify-content-center g-4">

    <div class="col-md-4">
      <div class="card">
        <h4>Gestión de Productos</h4>
        <p>Agrega, edita o elimina productos del catálogo.</p>
        <a routerLink="/gestionproductos" class="btn btn-custom">Ir a Productos</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h4>Gestión de Pedidos</h4>
        <p>Monitorea pedidos, cambia su estado y organiza entregas.</p>
        <a routerLink="/gestionpedidos" class="btn btn-custom">Ir a Pedidos</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h4>Gestión de Usuarios</h4>
        <p>Administra cuentas, roles y permisos fácilmente.</p>
        <a routerLink="/gestionusuarios" class="btn btn-custom">Ir a Usuarios</a>
      </div>
    </div>

  </div>
</div>
