body {
  background: linear-gradient(135deg, #0f0f1f, #1a082d, #000);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  color: white;
  font-family: 'Poppins', sans-serif;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.card:hover {
  transform: scale(1.01);
  transition: 0.3s ease;
}

.estado-pendiente {
  font-weight: bold;
}

.estado-completado {
  color: #198754;
  font-weight: bold;
}

.producto-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.blanco {
  color: #fff;
}
